:root {
    --clr-black: #18161F;
    --clr-gray: #787490;
    --clr-light-gray: #D6D4E2;
    --clr-withe: #FFFFFF;

    --ff-default: "Space Grotesk", sans-serif;

    --fw-400: 400;
    --fw-700: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

body {
    background-color: var(--clr-light-gray);
    color: var(--clr-black);
    font-family: var(--ff-default);
    font-size: 1.5rem;
    font-weight: var(--fw-400);
}

/* Text styles */

.profile-name {
    font-size: 1.5rem;
    font-weight: var(--fw-700);
    margin-bottom: 0.25rem;
}

.profile-name,
.comment-text {
    line-height: 1.3;
}

.comment-text {
    margin-top: 0.25rem;
}

.comment-time {
    color: var(--clr-gray);
}

/* General styles */

.wrapper {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.comment {
    background-color: var(--clr-withe);
    padding: 1.5rem 3.5rem;
    border-radius: 2rem;

    display: flex;
    align-items: center;
    column-gap: 2.5rem;
}
