<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="./styles.css"/>
        <title>Input | Layout-01</title>
    </head>

    <body>
        <div class="container">
            <header class="header item">
                <span class="text">Header</span>
            </header>
            
            <main class="wrapper">
                <aside class="aside item">
                    <span class="text">Aside</span>
                </aside>
                <section class="content item">
                    <span class="text">Content</span>
                </section>
            </main>

            <footer class="footer item">
                <span class="text">Footer</span>
            </footer>
        </div>
    </body>
</html>