<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="./styles.css"/>
        <title>Input | Layout-02</title>
    </head>

    <body>
        <div class="container">
            <aside class="aside">
                <span class="text">Aside</span>
            </aside>

            <div class="wrapper">
                <header class="header">
                    <span class="text">header</span>
                </header>

                <main class="content">
                    <span class="text">content</span>
                </main>

                <footer class="footer">
                    <span class="text">footer</span>
                </footer>
            </div>
        </div>
    </body>
</html>