:root {
    --clr-bg-header: #F6DCAC;
    --clr-bg-aside: #01204E;
    --clr-bg-content: #028391;
    --clr-bg-footer: #FEAE6F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.container {
    height: 100%;
    display: flex;
}

.aside {
    background-color: var(--clr-bg-aside);
    min-width: 15%;
}

.wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: var(--clr-bg-header);
    min-height: 10%;
}

.content {
    background-color: var(--clr-bg-content);
    flex: 1;
}

.footer {
    background-color: var(--clr-bg-footer);
    min-height: 10%;
}

.item {
    padding: 20px;
}

.text {
    font-size: 1.5rem;
    font-weight: 700;
}
