:root {
    --clr-bg-body: #FCA311;
    --clr-bg-card: #FCFCFC;
    --clr-border-card: #262626;
    --clr-box-shadow: #262626;
    --clr-hover-link: #FCA311;
    --clr-text: #111111;

    --ff-default: "Inter", sans-serif;

    --fw-500: 500;
    --fw-600: 600;
    --fw-800: 800;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--clr-bg-body);
    font-family: var(--ff-default);
    font-size: 1rem;
    font-weight: var(--fw-500);
    line-height: 1.5;
    text-align: center;
    color: var(--clr-text);
}

img {
    display: block;
    max-width: 100%;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: var(--clr-bg-card);
    max-width: 350px;
    padding: 40px;
    border: 3px solid var(--clr-border-card);
    border-radius: 15px;
    box-shadow: 8px 8px var(--clr-box-shadow);
    transition: box-shadow 0.5s ease;
}

.card:hover {
    box-shadow: 16px 16px var(--clr-box-shadow);
}

.card-title {
    font-size: 1.5rem;
    font-weight: var(--fw-800);
}

.card-image {
    margin: 0 auto;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    overflow: hidden;
}

.card *:not(.card-list, .card-list li) {
    margin-bottom: 1rem;
}

.card-list {
    list-style: none;
}

.card-link {
    text-decoration: none;
    color: var(--clr-text);
    font-weight: var(--fw-600);
    transition: color 0.4s ease;
}

.card-link:hover {
    color: var(--clr-hover-link);
}